body {
    background-color: #C9F8FE;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    min-height: 800px;
    margin: auto;
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

.presspage {
    width: 40%;
    background: url('../img/background.jpg') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    text-align: center;
}

.main_text {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.sec_text {
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0.5em;
}

.buttonkit {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding: 0.7em 1.5em;
    font-size: 1em;
    font-weight: 500;
    opacity:0.8;
    gap: 0.5em;
    color: #ffffff;
    background-color: #298073;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonkit:hover {
    background-color: #1e6c60;
    opacity: 0.9;
    transform: translateY(-1px) translateX(0.5px);
}

.buttonkit svg {
    width: 24px;
    height: 24px;
}

/* FOR ARTICLES */

.articles {
    width: 60%;
    padding: 2em;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 1.8em;
    font-weight: 500;
    color: #154666;
    border-bottom: 2px solid #298073;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.year {
    display: flex;             
    flex-wrap: wrap;          
    gap: 1em;                 
    font-size: 1em;
    color: grey;
    margin-bottom: 1.5em;
}

.year li {
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.year li:hover {
    color: #154666;

}

.art_events {
    display: flex;           
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid #C9F8FE;
    flex-wrap: wrap;          
}

.art_events:last-child {
    border-bottom: none;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.events_text {
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: 500;
    color: #154666;
}

.date {
    text-align: right;
}

.day {
    font-size: 1.5em;
    font-weight: 700;
    color: #298073;
}

.month_year {
    font-size: 0.9em;
    color: #184C78;
}

