:root {
    --primary-color: #154666;
    --secondary-color: #298073;
    --light-background: #C9F8FE;
    --accent-color: #184C78;
}

body {
    background-color: var(--light-background);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    min-height: 800px;
    margin: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.presspage {
    width: 40%;
    background: url('../img/background.png') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main_text {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding-bottom: 0.3em;
}

.sec_text {
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0.5em;
    padding-top: 0.3em;
}

.buttonkit {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding: 0.7em 1.5em;
    font-size: 1em;
    font-weight: 500;
    opacity: 0.8;
    gap: 0.5em;
    color: #ffffff;
    background-color: #298073;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonkit:hover {
    background-color: #1e6c60;
    opacity: 0.9;
    transform: translateY(-1px) translateX(0.5px);
}

.buttonkit svg {
    width: 24px;
    height: 24px;
}

/* FOR ARTICLES */

.articles {
    width: 55%;
    padding: 2em;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 1.8em;
    font-weight: 500;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.year {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    color: grey;
    margin-bottom: 1.5em;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    position: relative; 
}

.year li {
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap; 
}

.year li:hover {
    color: var(--primary-color);
}

.active-year {
    color:#154666;
    font-weight: bold;
}
.year::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to left, white, transparent); 
    pointer-events: none; 
}


.art_events {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid #C9F8FE;
    flex-wrap: wrap;
}

.art_events:last-child {
    border-bottom: none;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.events_text {
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: 500;
    color: #154666;
}

.date {
    display: flex;
    align-items:center;
    text-align: right;
    margin-left: auto;
    gap: 0.5em;
}

.day {
    font-size: 2.5em;
    font-weight: 700;
    color: #298073;
}

.month_year {
    font-size: 0.9em;
    color: #184C78;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .presspage, .articles {
        max-width: 90%;
        margin-bottom: 1em; 
    }

    .main_text {
        font-size: 2em;
    }

    .sec_text {
        font-size: 1em;
    }

    .buttonkit {
        padding: 0.5em 1em;
        font-size: 0.9em;
    }
}
